{% extends "base.html" %}

{% block title %}Edit subtitle{% endblock %}
{% block contenttitle %}Edit subtitle{% endblock %}

{% block content %}
    <h3> Subtitle for {{ subtitles.film.title }}</h3>
    <div id="subtitles"></div>
    <script type="text/javascript" src="/static/js/requireplugins-jquery-1.4.4.js"></script>
    <script type="text/javascript">
  // tell require where it can find our files
  require({ baseUrl : '/static/js/' });
  
  Object.create = typeof(Object.create) == 'function' ? Object.create : 
    function(o) {
      var F = new Function();
      F.prototype = o;
      return new F();
    };

  var application = {
    conf: {
      changeSetUrl: '/sc/{{ subtitles.key().id() }}',
      objectServiceUrl: '/sl/{{ subtitles.key().id() }}',
    }
  };


  // app-wide dependencies, not in requirejs module format
  require(
    ['/static/js/lib/pubsub.js', '/static/js/lib/mustache/mustache.js', '/static/js/lib/jquery.json-2.2.min.js'], function() {
    // application
    require(['app'], function(init) {
      // application init on ready
      $(document).ready(init);
    });
  });
    
    </script>
{% endblock %}


