{% extends "base.html" %}

{% block title %}Subtitles for {{ subtitles.film.title }}{% endblock %}
{% block contenttitle %}Subtitles for {{ subtitles.film.title }}{% endblock %}
{% block breadcrumb %}
    <a href="/" title="Mainpage">Mainpage</a> »
    <a href="/films/{{ subtitles.film.key().id() }}" title="{{ subtitles.film.title }}">{{ subtitles.film.title }}</a>
{% endblock %}
{% block bodyid %}SubtitlesEdit{% endblock %}
{% block content %}
    <div>Film: {{ subtitles.film.title }}</div>
    <div>Version: {{ subtitles.version.title }}</div>
    <div>Language: {{ subtitles.language.name }}</div>
    {% if subtitles.reference %}
    <div>Original (reference) language: {{ subtitles.reference.language.name }}</div>
    {% endif %}
    <div class="toolbox">
      <button id="save-button">Save</button>
    </div>
    <div id="subtitles-header">
      <span class="start">Start</span>
      <span class="end">End</span>
      <span class="text">Subtitle</span>
    </div>
    <div id="subtitles">
    </div>
    <script type="text/javascript">
  window.application = {
    conf: {
      changeSetUrl: '/sc/{{ subtitles.key().id() }}',
      {% if subtitles.reference %}
      objectReferenceServiceUrl: '/sl/{{ subtitles.reference.key().id() }}',
      {% endif %}
      objectServiceUrl: '/sl/{{ subtitles.key().id() }}'
    }
  };
    </script>
{% endblock %}


