{% extends "base.html" %}

{% block title %}Film list{% endblock %}
{% block contenttitle %}Film list{% endblock %}

{% block toolbox %}
<a href="/films/new" class="button"><span>New Film</span></a>
{% endblock %}
{% block content %}
    <p>
    <strong>What is this?</strong> ....
    </p>
    <div class="block">
        <h2>Films</h2>
        {% for film in films %}
        <article class="film">
            <h4><a href="/films/{{ film.key().id() }}">{{ film.title }}</a></h4>
            <p class="description">
            {{ film.description|truncate }}
            </p>
        </article>
        {% endfor %}
    </div>
{% endblock %}

