{% extends "base.html" %}
{% from "_form_macros.html" import form_fields %}

{% block title %}New film{% endblock %}

{% block contenttitle %}New Film{% endblock %}

{% block content %}
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="uniForm">
        <fieldset class="inlineLabels">
            {{ form_fields(form) }}
            <div class="buttonHolder">
                <button type="submit" class="primaryAction">Save</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

