{% extends "base.html" %}

{% block title %}
    {{ film.title }} - Film
{% endblock %}

{% block content %}
    <h1>{{ film.title }}</h1>
    <a href="/films/{{ film.key().id() }}/versions/new">New version</a>

    <h2>Listing versions:</h2>
    <ul>
        {% for version in versions %}
            <li>
                {{ version.title }}
                <h3> Subtitles</h3>
                <a href="/films/{{ film.key().id() }}/versions/{{ version.key().id() }}/subtitles/import">Import new subtitles</a><br><br>
                {{ version.subtitles }}
                {% for subtitles in version.subtitles %}
                <a href="/subtitles/{{ subtitles.key().id() }}/edit">{{ subtitles.id }}</a><br>
                {% endfor %}

            </li>
        {% endfor %}
    </ul>
{% endblock %}
