{% extends "base.html" %}

{% block title %}
    {{ film.title }} - Film
{% endblock %}
{% block bodyid %}FilmPage{% endblock %}
{% block breadcrumb %}
    <a href="/" title="Mainpage">Mainpage</a> »
{% endblock %}

{% block content %}
    <h1>{{ film.title }}</h1>
    <article>
        <p>
        {{ film.description|replace("\n", "<br/>") }}
        </p>
    </article>
    <div class="block">
    <h2>Versions</h2>
        {% for version in versions %}
        <section class="version lifted">
            <div class="item-toolbox">
                <a href="/films/{{ film.key().id() }}/versions/{{ version.key().id() }}/subtitles/import" class="button"><span>Import new subtitles</span></a>
            </div>
            <h4>{{ version.title }}</h4>
            {% for subtitle in subtitles[version.key().id()] %}
            <article class="subtitles clear">
                <div class="item-toolbox">
                    <a href="/subtitles/{{ subtitle.key().id() }}/export/srt" class="button"><span>Download</span></a>
                    <a href="/subtitles/{{ subtitle.key().id() }}/edit" class="button"><span>Edit</span></a>
                    <a href="#translate-{{ subtitle.key().id() }}" class="button hidden-tool-button"><span>Translate</span></a>
                    <div id="translate-{{ subtitle.key().id() }}" class="hidden-tool">
                        <form action="/translate" method="POST">
                            {{ translate_form.language }}
                            <input type="hidden" name="id" value="{{ subtitle.key().id() }}"/>
                            <button>Translate</button>
                        </form>
                    </div>
                </div>
                <div class="subtitles-language">
                    <span class="{{ subtitle.language.iso_code }}">{{ subtitle.language.name }} ({{ subtitle.language.native_name }})</span>
                </div>
                <div class="meta">
                    Created: {{ subtitle.created }}, by {{ subtitle.user.username }}
                </div>
            </article>
            {% endfor %}
        </section>
        {% endfor %}
        <hr/>
        <section>
            <h4>Add new version</h4>
            <form method="post" action="/films/{{ film.key().id() }}/versions/new" class="uniForm" id="new-version-form">
                <fieldset class="inlineLabels">
                    <div class="ctrHolder">
                        <label>Name of version: </label>
                        <input id="new-version-title" type="text" name="title" value=""/>
                        <button type="submit">Add</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
{% endblock %}
