<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title>{% block title %}{% endblock %} - Subtitles Pirate</title>
      <link rel="stylesheet" type="text/css" href="/static/css/screen.css">
    </head>
    <body id="{% block bodyid %}{% endblock %}">
        <div id="head" class="top">
            <div id="logo">
                <a href="/" title="Home - Pirate Titler"><img src="/static/images/logo.png" alt="Subtitles pirate logo"/><span>PIRATE TITLER</span>
                </a>
                <span class="motto">Translate subtitles online!</span>
            </div>
            <div class="user-status">
                <p>{% if current_user or auth_session -%}
                    {% if current_user -%}
                        Signed in as <span class="user_email">{{ current_user.username|e }}</span> |
                    {%- endif %} <a href="{{ logout_url }}">Sign out</a>
                {% else %}
                    Hi, there. <a href="/auth/login">Sign in</a>
                {% endif %}</p>
            </div>
        </div>
        <div id="content" class="container">
            <div id="content-inner">

        <h1>{% block contenttitle %}{% endblock %}</h1>
        <nav>
            <p class="bradcrumb">
                {% block breadcrumb %}{% endblock %}
            </p>
            <p class="toolbox">
                {% block toolbox %}
                {% endblock %}
            </p>
        </nav>
        {% block content %}
        {% endblock %}
            </div>
        </div>
        <footer id="footer">
        {% block footer %}
            2011, a <a href="http://mindpirates.org/" title="Mindpirates">Mindpirates</a> production.
        {% endblock %}  
        </footer>
        {%- block body_extra %}

    <script type="text/javascript" src="/static/js/lib/require.debug.js"></script>
    <script type="text/javascript">
  // tell require where it can find our files
  require({ baseUrl : '/static/js/' });
  
  Object.create = typeof(Object.create) == 'function' ? Object.create : 
    function(o) {
      var F = new Function();
      F.prototype = o;
      return new F();
    };
  window.application = window.application || {};


  // app-wide dependencies
  require(
    ['/static/js/lib/jquery.js', '/static/js/lib/pubsub.js', '/static/js/lib/sprintf.js', '/static/js/lib/mustache/mustache.js', '/static/js/lib/jquery.json-2.2.min.js'], function() {
    // application
    require(['app'], function(init) {
      // application init on ready
      $(document).ready(init);
    });
  });
    
    </script>
        {% endblock %}
    </body>
</html>
